/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
}
/* Dialog Box */
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
}
md-dialog-container {
  position: relative;
}